{% extends "layout.html" %}
{% block content %}
<br><br>
   <div class="d-flex justify-content-center">
   <h3>Welcome to My Kombucha Journal</h3>
   </div>
   <br>
   <br>

   <div class="d-flex justify-content-center">
   <h5>This is a digital Kombucha journal used to track the progress of your Kombucha homebrewing!</h5>
   </div>
   <br>
   <div class="d-flex justify-content-center">
   <h5>This is still a work in progress, stay tuned for more features!</h5>
   </div>
   <img src="static/img/MascotSmile.png" class="img-medium" alt="Scoby Stan">
   <br>
   <div class="d-flex justify-content-center">
   <h6>This project made by Kevin Li for the CS50 Final Project</h6>
    </div>
{% endblock content %}
